venv
.ipynb_checkpoints
*.csv
ny_taxi_postgres_data
*.env
data-eng-first.json
files
*/data
*/__pycache__
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content


# do not ignore these files:
!taxi_zone_lookup.csv